<template name="Landing">
				<div class="row landing">
				<!-- col-sm-6 de aici compun un rand. sm inseamna small device, adica width intre 700 si 920 parca -->
					<div style="text-align:center" class="col-xs-12 push-xs xs-push col-sm-4 col-md-5 col-lg-5 white-text col-lg-offset-1">
						<div class="landing-text">
							<p>
								Some say this is the best fantasy basketball manager game in the world. <br>
								Others say that here's where the amazing happens.
								<br>
								All we know is it's called...
							</p>
							<h1 class="imp400">Basketsim!</h1>
						</div>
						<button type="button" class="btn btn-success join hidden-xs" style="width:150px; height:50px; font-size: 16px">Join Now!</button>

					</div>
					<div class="col-xs-12 col-sm-8 col-md-7 col-lg-5">
						<div class="landing-top">
		          <img class="img-responsive" src="/material/web-size/desktop_format_albastru_1.png" alt="Fantasy Basketball Manager Game">
							<div class="button-mob-container">
								<button type="button" class="btn btn-success join hidden-sm hidden-md hidden-lg button-mob">Join Now!</button>
							</div>
						</div>
					</div>
				</div>
				<div class="row" style="background-color: #f4f4f4">
					<br><br>
					<div class="col-md-12 col-lg-10 col-lg-offset-1" style="margin-bottom:15px">
						<h2 class="imp700">Become the best basketball manager!</h2>

						<p style="font-size:15px">Train your players to become superstars, compete for national or international trophies, live the thrill of live basketball games online, lead your team to glory while forging long lasting friendships and building fierce rivalries.</p>
						<p style="font-size:15px">In Basketsim, each decision you take is critical - it will lead to great success or disappointing failure. Have a spark of genius in a cup  final game and win that desired trophy or put your fantasy club at risk by mismanaging your finances. Join Basketsim and discover if you've got what you need to be a great basketball manager!</p>
					</div>
				</div>
				<div class="row" style="background-color: #f4f4f4">
					<div class="col-md-12 col-lg-10 col-lg-offset-1">
						<div class="row">
							<div class="col-xs-12 col-sm-6 col-md-4">

				        <div class="card neutral">
				          <div class="card-image-header arena">
				            <div style="padding-left:12px" class="card-title">Your Club</div>
				          </div>
				          <div class="card-content half-side-padding black-text landing-card-content">
				          	<p class="landingp">
											As a basketball manager, you will take care of every aspect of your club, players and facilities.
										</p>
				          	<p class="landingp">
											Like everybody else, you will start with a small fantasy basketball team, with the goal of turning it from an underdog into a true champion.
										</p>
										<p class="landingp">
											Make sure your cashflow is in order by attracting sponsors, trading and smartly investing in the future of your fantasy basketball team.
				          	</p>
				          </div>
				        </div>
							</div>

							<div class="col-xs-12 col-sm-6 col-md-4">
				        <div class="card neutral">
				          <div class="card-image-header senior-team">
				            <div style="padding-left:12px" class="card-title">Your Players</div>
				          </div>
				          <div class="card-content half-side-padding black-text landing-card-content">
				          	<p class="landingp">
											The players are the bread and butter of your fantasy basketball club.
										</p>
				          	<p class="landingp">
											As their manager, it's your duty to make sure they get proper training and are always ready and fresh for the next basketball games.
										</p>
										<p class="landingp">
											Always be on the lookout for some talented prospects from your academy or keep an eye on the stats to track down the over-achievers!
				          	</p>
				          </div>
				        </div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-4">
				        <div class="card neutral">
				          <div class="card-image-header team-matches">
				            <div style="padding-left:12px" class="card-title"><h3 style="font-weight: 400;padding-left: 0px">Live Basketball Games</h3></div>
				          </div>
				          <div class="card-content half-side-padding black-text landing-card-content">
				          	<p class="landingp">
											You will lead your fantasy team in several basketball games each week. If you want to become the best basketball manager, you'll have to study your opponent carefully, assign the best players available and instruct them how to play.
										</p>
										<p class="landingp">
											Once everything is set, grab a beverage and enjoy some real-time live fantasy basketball games!
				          	</p>
				          </div>
				        </div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-4">
				        <div class="card neutral">
				          <div class="card-image-header market">
				            <div style="padding-left:12px" class="card-title">The Market</div>
				          </div>
				          <div class="card-content half-side-padding black-text landing-card-content">
				          	<p class="landingp">
											If the basketball games aren't providing you with enough adrenaline, then the market is the place to get your kick and make some money.
										</p>
				          	<p class="landingp">
											Bid for talents against other managers in live online auctions, always be on the lookout for bargains and never give up hustling!
										</p>
				          	<p class="landingp">
											Sell your fantasy players for big money, or buy some talent and aim for glory - it's all up to you!
										</p>
				          </div>
				        </div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-4">
				        <div class="card neutral">
				          <div class="card-image-header next-matches">
				            <div style="padding-left:12px" class="card-title">The Competitions</div>
				          </div>
				          <div class="card-content half-side-padding black-text landing-card-content">
				          	<p class="landingp">
											Compete against thousands of managers in national or international fantasy basketball competitions. No matter your current level, every week your team will fight for glory in one or more tournaments - be it the league, cup or the prestigious Champions Series.
										</p>
										<p class="landingp">
											Prove your skill and the community might entrust you with leading your country to ultimate glory - The World Cup!
				          	</p>
				          </div>
				        </div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-4">
				        <div class="card neutral">
				          <div class="card-image-header cheerleaders">
				            <div style="padding-left:12px" class="card-title">The Community</div>
				          </div>
				          <div class="card-content half-side-padding black-text landing-card-content">
				          	<p class="landingp">
											No adventure is complete unless shared with friends.
										</p>
				          	<p class="landingp">
											The Basketsim forum hosts one of the biggest online basketball communities in the world. Some of its members have been around for almost 10 years. They've seen the ups and downs of many champions and of the game itself.
										</p>
										<p class="landingp">
											Join us on the forums to chat about the latest basketball games, fantasy rankings, brag about your newest manager achievements and have a great time!
				          	</p>
				          </div>
				        </div>
							</div>
						</div>
					</div>
				</div>

				<div class="row" style="background-color: #f4f4f4">
					<div style="text-align:center" class="col-md-12 col-lg-10 col-lg-offset-1">
						<button type="button" class="btn btn-success join" style="width:270px; height:50px; font-size: 16px">Become a basketball manager now!</button>
					</div>
				</div>
</template>