<template name="Denominations">
{{>HelpMenu}}
<div class="card white">
  <div class="card-header red white-text">
    <div class="card-title white-text">Denominations</div>
  </div>
  <div class="card-content no-pad-top white black-text">

    <h4 style="padding-top:0; margin-top:0">Skills</h4>
    none (0)<br/>
    pathetic (1)<br/>
    terrible (2)<br/>
    poor (3)<br/>
    below average (4)<br/>
    average (5)<br/>
    above average (6)<br/>
    good (7)<br/>
    very good (8)<br/>
    great (9)<br/>
    extremely great (10)<br/>
    fantastic (11)<br/>
    amazing (12)<br/>
    extra-ordinary (13)<br/>
    magnicent (14)<br/>
    phenomenal (15)<br/>
    sensational (16)<br/>
    miraculous (17)<br/>
    legendary (18)<br/>
    magical (19)<br/>
    perfect (20)<br/>


    <h4>Tiredness</h4>

    energetic (0 - 4%)<br/>
    fresh (5 - 9%)<br/>
    tired (10 - 14%)<br/>
    very tired (15 - 19%)<br/>
    extremely tired (20 - 24%)<br/>
    drained (25 - 29%)<br/>
    exhausted (30% or more)<br/>

    <h4>Medical Center</h4>

    non-existant (0)<br/>
    broken bones (1)<br/>
    cry babies (2)<br/>
    brave fighters (3)<br/>
    tough guys (4)<br/>
    unbreakable (5)<br/>

    <h4>Cheerleaders</h4>
    hateful<br/>
    bitchy<br/>
    irritated<br/>
    nice<br/>
    happy<br/>
    grateful<br/>
    cheerful<br/>
    blossoming<br/>

    <h4>Handling Youth (Coach skill)</h4>

    pathetic<br/>
    poor<br/>
    average<br/>
    good<br/>
    great<br/>
    fantastic<br/>
    extra-ordinary <span style="color: gray;">(rare)</span><br/>

    <h4>National Team Mood</h4>

    Things must change for the better!<br/>
    There are issues in this team<br/>
    No comment<br/>
    We hope it will get better soon<br/>
    We are happy with our national coach<br/>
    Our coach is sooooo goooood<br/>
    Our coach is bloody brilliant!<br/>
    We love you coach, please never leave<br/>
    Our coach is greater than Phil Jackson<br/>

  </div>
  <div class="card-action">
    <a href="/help-and-rules/international-competitions">Previous - International Competitions</a>
  </div>
</div>
</template>