<template name="HelpTraining">
{{>HelpMenu}}
<div class="card white">
  <div class="card-header red white-text">
    <div class="card-title white-text">Training</div>
  </div>
  <div class="card-content no-pad-top white black-text">
    Training is essential for promising youngsters to develop into world class players. Older players can gain from training as well, especially if they are hard working. Only players that take part in matches receive training, so it can be important to changes lineups a bit from match to match. All players set up in the starting five at least once in a week receive training! Each player can receive only one training per week, which corresponds to the last position he played (guard or big man). Players in their 30s are likely to lose skills, but regular training combined with good workrate and a decent coach can help them to postpone big drops until the late age.<br/>

    <br/>Hardworking players can be distinguished as being those with a high work rate. Such players will always listen to the coach and do their best. Their development can be very rapid, especially if their coach is hardworking as well. Coaches with extreme workrate can be highly influential, but as they are aware of the benefits they can provide, it will take a lot more money to persuade them to join the club. One should keep in mind that from training point of view it's always much better to have coach with a terrible workrate then no coach at all!<br/>

    <br/>Before training you must tell your coach what your players should train. Guards and big men can be separated into two training groups and each group can train a different skill. Which group a player trains with is determined by the position the player played during his last match. Players who last played as guards are placed in the first group and players who last played as forwards and centers in
    the second. Injured players don't train.<br/>

    <br/>The intensity can be set differently for each of the training groups. Intensity is very important: training at high intensity, players will learn more but they will get tired after training. Training at low intensity, players will train less, but they will be more reposed after training.<br/>

    <br/>Different types of training also mean differences in how much value your players gain. For example shooting is in general more important skill than handling, so training shooting or some other widely needed skill will increase the value of your player more, but this doesn't mean that his improvement will bring him or your team more benefit. Skills which add more value also mean more wage increase in a long run. So develop your players with a great care, you don't want to end up with bunch of overpaid players, wrongly skilled for their best playing position.<br/>

    <br/>Once per week coach presents you the training results. Skill improvements are marked with green and skill drops with red color. This doesn't mean that player has improved or dropped a whole skill level, you'll have to track this manually.<br/>

    <h4>Physical Training</h4>
    The choice of training types covers all the skills that determine player's quality. Of course you can't train players to grow or to change their character or workrate, but apart from training their basketball abilities, you can also set up a plan for their physical training. For that, you'll need to pay a gym rent. The rental price depends on your medical center and number of players involved in training. Only your coach can handle this so you need one to set up the training. However your coach's characteristics are not important for this type of training as he only creates the schedules for players. There is also no need for players to play in matches in order to gain or lose weight.<br/>

    <br/>Physical training affects player's weight and tiredness. You can set up training regime for each player individually, but you can also unset training for any player at any time. There are 4 training types and player can either focus on agility if you want him to improve his footwork and balance or power if you want him to improve his strength. Available training types for physical training are: jogging, push ups, short sprints and weight lifting. Each of these regimes have different effects on players in terms of weight gain, weight loss and tiredness. Mostly it depends on player's current body mass. Your heavy center, for example, might not appreciate the fact that he is forced to do short sprints, even if they prove to be affective, they can turn out to fatigue him. The best advice is to test players and see what suits them best as every player is an individual with his own preferences. However common sense can easily be applied to all training types.<br/>

    <br/>Every Monday, your players are being checked by the club personnel and you are provided with a simple report, how your players were affected by their gym work. You can remove any player from physical training at any time by choosing an empty option. It's entirely up to you who should or shouldn't train. Players excluded from physical training won't perform any worse, so always remember that physical training is not mandatory, it only helps your player to get closer to their desired body mass.<br/>

    <h4>Height increase</h4>
    Every now and then you will notice that one of your younger players has grown a bit. So when you get a 15yo rookie, you can try to estimate how much he might grow, but you can never be 100% sure that he will grow, as some young players might never grow at all. Coaches are measuring potential growth of your younger players twice per week, so you will most likely be able to notice it on Monday or Friday evening.<br/>

    <h4>Coaches</h4>
    Basically, there are two types of coaches in Basketsim: high workrate coaches and good all-round coaches. New clubs would often first sign inexperienced coach with a great workrate and nothing else, buy 10 talented 16-17 year old players and train them at a high intensity for 2 or 3 seasons. That's a solid plan to develop some stars and make some money. But in the long term, teams look forward at hiring the best possible all-round coach that will still be able to contribute towards the team's training, but will also have the ability to develop good youth team players.<br/>

    <br/>Coaches are determined by 6 main characteristics:<br/>
    - work rate,<br/>
    - experience,<br/>
    - motivation,<br/>
    - personality,<br/>
    - handling youths,<br/>
    - age.<br/>

    <br/>Work rate has already been explained. It has an impact on senior team's training quality. A coach's motivation has an impact on his work rate. When motivation drops he's not so determined to work to the full potential of his normal work rate. Every new coach that you hire is fully motivated. The age and the personality of a coach are not important when it comes to training and matches, but both can impact his motivation drops, for example coaches with selfish character will never become as attached to the club as stable coaches, something that will result in faster motivation drops. When coach's motivation fall below 95% you can negotiate new contract with him to keep up his motivation again. Coaches over 60 years old will retire when they part with their current club.<br/>

<!--     <br/>The Experience of your coach can have a big impact on your team's match performance, especially when it comes to freethrows. Experienced coach know how to talk to players and when to call timeouts, as a result players are more calm during the matches and more successful at freethrow line. When it comes to training, coach's experience is only important for Youth teams, where coach can influence the development of youngsters by applying his experiences to them. Another important factor for Youth team training is coach's special ability to work with the youths.<br/> -->
    <br/>The Experience of your coach is important for youth teams, where coach can influence the development of youngsters by applying his experiences to them. Another important factor for youth team training is coach's special ability to work with the youths.<br/>

  </div>
  <div class="card-action">
    <a href="/help-and-rules/tactics">Previous - Tactics</a>
    <a href="/help-and-rules/youth">Next - Youth</a>
  </div>
</div>
</template>