<template name="HelpArena">
{{>HelpMenu}}
<div class="card white">
  <div class="card-header red white-text">
    <div class="card-title white-text">Arena</div>
  </div>
  <div class="card-content white black-text">
    To attract more spectators and earn more attendance money, you can enlarge your arena. In order to do so, enter the desired amount of seats you would like to add and, if everything is OK, the construction company will start work. You will have to pay all the costs in advance.<br/>

    <br/>Court side, court end and upper level seats cost 125 &euro; per seat to be built. Every VIP box costs 675 &euro; and you will have to pay 165.000 &euro; as a one time payment to construction company, but this sum includes all future maintance costs (you won't have any weekly maintance costs).<br/>

    <br/>You should make plan carefully about the percentage of seats in every sector. Finding the right formula might optimize your attendance, but eventually you'll have to build up a balcony level. A balcony is built when you increase the Upper level capacity for the first time. This means that your arena will have to be completely redone, so it's a very expensive proceedure with a once-off cost of 330.000 &euro;. When the arena is upgraded, you will be able to increase the capacity of Upper level seats with no additional one-time costs.<br/>

    <br/>At the time your arena is being upgraded you are not able to seat as much spectators as usual, because some of the seats are closed off due to construction work. So you should check your fixtures and figure out when it the best time to get the work done would be. When construction is finished you will receive a message in the club's latest news. You will then be able to use your arena at full capacity or expand it further.<br/>

    <h4>Ticket Prices</h4>
    Court end - 15 &euro; / spectator<br/>
    Court side - 20 &euro; / spectator<br/>
    Upper level - 20 &euro; / spectator<br/>
    VIP boxes - 100 &euro; / spectator<br/>

    <br/>The Ticket price is same for cup, league and playoff matches. In friendly matches tickets are a bit cheaper. In league matches full earning go to home team, in cup and friendly matches earnings are split between both teams equally.<br/>

    <h4>Attendance</h4>
    One of the important factors in the game is how to attract as many spectators as possible to your home matches. Having these spectators means more ticket money. From that point of view, home league and cup matches are most important, followed by the friendly matches, where nice revenue can also be earned. Several factors have influence on the amount of spectators that will gather in your arena on any given day.<br/>

    <br/>Obviously most important factor is the type of match. If it's a league, cup or playoff game more fans will come to watch comparing to a friendly match. Amount of fans that you have in your fanclub is second most important influence. Fans create right atmosphere in the arena, so good amount of fans is crucial for good attendance. Cheerleaders can also help with building up right atmosphere in your arena, especially if it's big. Your cheerleaders will always give you a tip about their mood - you can observe in menu under arena. Keep in mind that girls can not only be lacking funds, but they can also be spoiled by your generosity! Entertaining players inside your starting five can also motivate potential spectators in a positive way and earn you additional ticket income!<br/>

    <br/>There are other factors that influence match attendance. Playing on a higher league level can ensure you better attendance of league matches. In cup matches, when lower division teams are scheduled to play against top division teams, supporters of home team will make sure that they don't miss that match. Because it can always be the last in elimination-natured cup competition. It's also refreshing for them to watch top quality team, after the team has been performing in league against less prominent opponents. In league matches there is additional positive factor, being high on league table and especially leading it can have great impact on your attendance, there is also more interest in matches between opponents that are placed close to each other in the league table.<br/>

    <br/>When playing international friendly match away, you will have to purchase air tickets to travel to the venue. But international friendly matches tend to have higher turnover of visitors than domestic friendlies. There is also small unpredictability factor that influences all attendances.<br/>

  </div>
  <div class="card-action">
    <a href="/help-and-rules/finances">Previous - Finances</a>
    <a href="/help-and-rules/national-teams">Next - National Teams</a>
  </div>
</div>
</template>