<template name="HelpMenu">
  <div class="row">
    <div class="col-xs-12">
      <div class="card white">
        <div class="card-image-header team-matches">
          <div class="card-title">Help and Rules</div>
        </div>
        <div class="card-action">
          <a href="/help-and-rules/introduction">Introduction</a>
          <a href="/help-and-rules/matches" class="market-search">Matches</a>
          <a href="/help-and-rules/players" class="market-search">Players</a>
          <a href="/help-and-rules/player-character" class="market-search">Player Character</a>
          <a href="/help-and-rules/match-sim" class="market-search">Match Simulation</a>
          <a href="/help-and-rules/tactics" class="market-search">Tactics</a>
          <a href="/help-and-rules/training" class="market-search">Training</a>
          <a href="/help-and-rules/youth" class="market-search">Youth</a>
          <a href="/help-and-rules/transfers" class="market-search">Transfers</a>
          <a href="/help-and-rules/finances" class="market-search">Finances</a>
          <a href="/help-and-rules/arena" class="market-search">Arena</a>
          <a href="/help-and-rules/national-teams" class="market-search">National Teams</a>
          <a href="/help-and-rules/international-competitions" class="market-search">International Competitions</a>
          <a href="/help-and-rules/denominations" class="market-search">Denominations</a>
        </div>
      </div>
    </div>
  </div>
</template>