<template name="HelpMatchEngine">
{{>HelpMenu}}
<div class="card white">
  <div class="card-header red white-text">
    <div class="card-title white-text">Match Engine</div>
  </div>
  <div class="card-content no-pad-top white black-text">
    The bread and butter of the game. You've already read all those long articles on matches, player skills and characters and tactics, so let's see how those come together and influence the match events.

    <h4>Skill impact on match events</h4>
    <table class="table table-condensed table-striped league">
    <tr><td>
    <b>2-points scoring</b> is affected by: shooting, positioning, quickness, dribbling.
    <br/>Often players score after a rebound or a steal followed by a fast break.</td></tr>

    <tr><td><b>3-points scoring</b> is affected by: shooting, positioning, quickness, freethrows.
    <br/>A player can score after steal followed by a fast break.</td></tr>

    <tr><td><b>Free throw</b> shooting is affected by the freethrows skill.</td></tr>

    <tr><td><b>Rebounding </b>is affected by: rebounding, positioning and quickness.
    <br/>Rebounding can be greatly influenced by the tactical approach used.</td></tr>

    <tr><td><b>Personal fouls </b>are affected by low quickness, positioning and defense.
    <br/>The opponent's positioning and quickness are also important.</td></tr>

    <tr><td><b>Offensive personal fouls</b> are affected by low dribbling and positioning skills.
    <br/>The opponent's defense and positioning also have a high influence on offensive fouls by your players.</td></tr>

    <tr><td><b>Assists </b>are affected by the passing skill.</td></tr>

    <tr><td><b>Steals </b>are affected by defense and speed.
    <br/>Players often score after a steal.</td></tr>

    <tr><td><b>Turnovers </b>are affected by low handling, passing and dribbling, high fatigue and good opponent's defense.
    <br/>What is most important depends on the position the player is currently playing.</td></tr>
    </table>
  </div>
  <div class="card-action">
    <a href="/help-and-rules/tactics">Previous - Tactics</a>
    <a href="/help-and-rules/training">Next - Training</a>
  </div>
</div>
</template>