<template name="HelpPlayerCharacter">
{{>HelpMenu}}
<div class="card white">
  <div class="card-header red white-text">
    <div class="card-title white-text">Player Character</div>
  </div>
  <div class="card-content no-pad-top white black-text">
    There are fourteen types of character in Basketsim. A player with certain type of personality will act in different ways in certain situations. The influence may not be so big, but even personality factors can be decisive sometimes.<br/>

    <br/><b>Stable</b>: stable players are more likely to make a clear two-pointer. They can also be good in avoiding turnovers.
    <br/><b>Entertaining</b>: people love entertainers, so they can have a positive influence on your home match attendance. They will always try to make show out of the match, so they may score some daring 3-pointers, but at the same time they are prone to miss some close, easy shots.
    <br/><b>Calm</b>: calm players are likely to score an extra 3-pointer from time to time and their chances of making personal fouls are just a bit lower. But not committing a personal foul isn't the best option in all situations.
    <br/><b>Aggressive</b>: they are more likely to grab the rebound and score for two, but they are also prone to commit more personal fouls in defense and even offensive fouls.
    <br/><b>Controversial</b>: controversial players are hard to predict, so it's hard to say what their benefits and downsides are.
    <br/><b>Selfish</b>: selfish players are not very popular in basketball, since it's a team sport. They are likely to miss some extra two and three point attempts, but if you have a good rebounder, the missed shots might feed him well.
    <br/><b>Dirty</b>: dirty players are often assigned on a special mission to limit the opponent's most gifted player. They are great at one on one defending, but they are sure to face the foul trouble sooner or later, so make sure you have someone capable coming from the bench.
    <br/><b>Clumsy</b>: clumsy players are prone to turnovers, they will have hard time developing technical skills - even when already promoted to senior team.
    <br/><b>Explosive</b>: explosive players get a real boost when playing fast basketball (FEB, DS, CTB) but suffers at TTP, RTD and IS. Their explosiveness also help them to develop quickness better. And it's the skill they need to get the boost, because without great quickness skill they are bound to fail.
    <br/><b>Loyal</b>: these are players loyal to their current team, coach, teammates and fans. They feel great in home court, playing infront of supporting crowd, but they will typically underperform while on road. It's up to every manager to plan their playing time carefully and get the most out of them.
    <br/><b>Wise</b>: wise players learn the game faster, they gain experience easier and near the end of their career, they make a great future coach.
    <br/><b>Fragile</b>: some players are always more prone to complicated injuries than others and some luck is needed for their talent to be turned into a successful career. Fragile players are sometimes uneasy about contact and they find their peace on the freethrow line, where they typically shine - mostly due to a fact that they are easier to develop freethrow skill than other players.
    <br/><b>Tough</b>: the opposite to fragile, tough players never give up. You can beat them, but you won't get rid of them, crash their nose, teeth, head but they'll continue to play. Rare injuries and 1% less fatigue in every match allow such players to play more matches!
    <br/><b>Lazy</b>: all players who become professionals must work hard at one point of their career, but the problem of lazy players is that they are not remotely interested in developing their defense skill or playing defense. Also, make sure that they own good shooting skills, because repeated contested outside shots and unwillingness to attack the basket can harm their inside shooting as well.<br/>
  </div>
  <div class="card-action">
    <a href="/help-and-rules/players">Previous - Players</a>
    <a href="/help-and-rules/match-sim">Next - Match Simulation</a>
  </div>
</div>
</template>