<template name="Introduction">
{{>HelpMenu}}

<div class="card white">
  <div class="card-header red">
    <div class="card-title white-text">Introduction</div>
  </div>
  <div class="card-content no-pad-top white black-text">
    <b>Basketsim</b> in a multiplayer game in which you take control of a basketball team and try to lead it to honor and glory. Upon successful registration you get the right to control all the aspects of your virtual basketball club. <br>
    Basketsim presents a dynamic environment in which you can do a variety of things. For example, you can interact with other managers, make decisions that will either make you or break your team, or compete with the best of the best and try to win the most prestigious titles in Basketsim! <br>
    You can login to Basketsim at any time to check how your team is doing, how your players are progressing, or spend some time checking out what other managers have to say by visiting <a href="//forum.basketsim.com/" style="color:#ffab40">the forum</a>.<br/>

<!--     <br/><b>The Basketsim Season</b> In the first part of the season, there are two league matches per week. It's a tough part of the season, as things are occurring fast - having strong bench players and good tiredness control is vital for success in this part of the season. After the Basketsim draft has been completed, national cups are played.  This is the second part of the season and only one league match is played per week, but matches become more important. If you are not participating in the national cup or if you get knocked out of the competition, you can arrange friendly matches against other managers, get some attendance money and optimize your training.<br/> -->

    <br/>In the following chapters of the game rules, you will find lots of useful information which will help you to understand the mechanics and rules of the  game. If you need further assistance, do not hesitate to use <a href="//forum.basketsim.com/" style="color:#ffab40">the forum</a> where you will always get helpful advice from experienced managers.<br/>
  </div>
  <div class="card-action">
    <a href="/help-and-rules/matches">Next - Matches</a>
  </div>
</div>

</template>